* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', 'Courier New', Courier, monospace;
  background: #F5F5F5;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0% 5%;
  background: #002142;
  color: white;
}

.logo {
  flex: 1;
}

.nav-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.main-container {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.intro-text {
  max-width: 620px;
}

.header {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
}

.text {
  font-weight: 400;
  line-height: 16.94px;
}

.section-header {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FF4E00;
}

.sections {
  max-width: 519px;
}