* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', 'Courier New', Courier, monospace;
  background: #F5F5F5;
}

button {
  border-style: solid 1px;
  border-radius: 10px;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0% 10%;
  background: #002142;
  color: white;
}

.logo {
  flex: 1;
}

.nav-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.main-container {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000000;
}

.intro-text {
  max-width: 620px;
}

.header {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
}

.text {
  font-weight: 400;
  line-height: 16.94px;
}

.section-header {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FF4E00;
}

.main-intro-section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.intro-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sections {
  max-width: 519px;
}

.sect-img {
  max-height: 200px;
  width: 300px;
  mix-blend-mode: multiply;
  border: 2px solid #FF4E00;
  border-radius: 10px;
}

.section-lead {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.view-other {
  text-align: center;
}

.view {
  width: 304px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view img {
  max-width: 50px;
}

.manufacturers {
  padding: 20px 0px;
  background: #002142;
  color: #FFFFFF;
}

.manufacturers p {
  text-align: center;
  color: #FFFFFF;
}

.manu {
  height: 430px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.manu-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.manu-logos img {
  height: 100px;
}

.foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10% 0%;
}

.contact-image img {
  width: 100%;
  mix-blend-mode: multiply;
}

.foot .contact-image {
  flex: 1;
}

.contact-details {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.foot .socials img {
  width: 60px;
  height: 60px;
}

.contacts-lead {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

.contacts-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.landing {
  background: url("./resources/hardware-3509893_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-text {
  text-align: center;
  max-width: 500px;
}

.deals {
  background-color: #D9D9D9;
}

.service-deals {
  background-color: #002142;
  border-radius: 0px 25px;
  width: 236px;
  height: 53.01px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-deals p {
  color: #FFFFFF;
}

.all-service-offers{
  display: grid;
  grid-template-columns: auto;
  grid-area: 
    "one" "two"
    "three" "four" 
    "five" "six"
    "seven" "eight"
    "nine" "ten"
    "eleven" "twelve"
  ;
}

.service-offer-left{
  background-color: #002142;
  border-radius: 0px 25px 25px 0px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-offer-right{
  background-color: #002142;
  border-radius: 25px 0px 0px 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}